# aws
bucket_name    = "<bucket-name>" #note bucket name has to be globally unique
user_name      = "snowflake-dv-user"               # name of the user that will be created by terraform and will have permission to use the bucket
default_region = "eu-north-1"                      # default aws region

# snowflake
snowflake_organization_name = "<snowflake-org-name>"
snowflake_account_name      = "<snowflake-account-name>"
snowflake_private_key_path  = "~/.ssh/snowflake_tf_snow_key.p8"